<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %> | My Blog</title>
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
    <nav>
        <div class="logo"><a href="/">myBlog</a></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <main>
        <div class="post-image-container">
            <img src="/thumbnails/<%= post.thumbnail %>" alt="<%= post.title %>" class="post-image" onerror="this.onerror=null; this.src='/images/default-image.png'">
        </div>
        <h1 class="post-title"><%= post.title %></h1>
        <p class="post-content"><%= post.content %></p>
        <p class="post-author">Written by: <%= post.author %></p>
        <p class="post-date">Date: <%= new Date(post.date).toLocaleDateString() %></p>
        <p class="post-likes">Likes: <%= post.like %></p>
    </main>
        
    <footer>
        <p>My Blog Footer</p>
    </footer>
</body>
</html>
